### files for GIT to ignore 

*.class
*.dex
*.apk
*.ap_
bin/
gen/
local.properties
.checkstyle
.DS_Store
.idea/*
!.idea/codeStyles
!.idea/codeInsightSettings.xml
.gradle
build/
*.iml
captures
lint.xml